[Unit]
Description=Forward journald logs to Loggly
After=docker.service

[Service]
ExecStartPre=-/bin/mkdir -pv /opt/Shwetajain148/journald-forwarder
ExecStartPre=-/usr/bin/curl -L -o /opt/Shwetajain148/journald-forwarder/journald-forwarder https://github.com/Shwetajain148/journald-forwarder/releases/download/v0.4/journald-forwarder
ExecStartPre=-/bin/chmod +x /opt/Shwetajain148/journald-forwarder/journald-forwarder
ExecStart=/opt/Shwetajain148/journald-forwarder/journald-forwarder -token [token] -tag [tag]
